.donate-prompt {
	border: 1px solid #C4C4C4;
	height: 556px;
	/* width: 1210px; */
	background-color: #af8a77;
}

.donate-prompt .prompt{
	float: right;
	text-align: left;
	font-family: "proxima-nova";
	margin-right: 115px;
}

.donate-prompt .prompt p{
	font-size: 21px;
	/* display: block; */
	margin-top: 30px;
}
.donate-prompt .prompt h1{
	margin-top: 46px;
}

.donate-prompt .donate p{
	font-size: 20px;
	margin-top: auto;
}

.donate-prompt .donate{
	/* margin-right: 140px; */
	/* margin-top: 0px; */
	/* width: 105px; */
	padding: 10px;
	/* float: left; */
	/* height: 28px; */
}

.donate-prompt .arrow-bar{
	background-color: #000c3c;
	height: 108px;
	margin-top: -27px;
}

.donate-prompt .arrow-bar p{
	color: white;
	font-size: 28px;
	font-family: "proxima-nova";
	font-weight: bold;
	line-height: 4;
}

.donate-prompt .donate-pic img{
	/* float: left; */
	margin-top: 50px;
	width: 591px;
	height: 352px;
	margin-right: 158px;
}

.arrow-down{
	width: 0;
	height:0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 30px solid #000c3c;
	margin-left: -174px;
	/* margin-top: 3px; */
}

