.footer{background-color: white;border: 1px solid #C4C4C4;height: 240px;width: 1418px;z-index: -1;}

.footer .footer-widgets{/* background-color: blue; */height: 280px;}

.footer .footer-widgets .footer-row{/* margin: auto; */}

.footer-row .footer-column{
    /* width: 33.3333333%; */
    /* height: 171px; */
    /* background-color: blue; */
    margin-top: 30px;
}

.footer-column .columns{
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
	-moz-column-count: 3; /* Firefox */
	column-count: 3;
	-webkit-column-gap: 10px; /* Chrome, Safari, Opera */
	-moz-column-gap: 10px; /* Firefox */
	column-gap: 10px;
	/* -webkit-column-rule: 1px solid lightblue; */ /* Chrome, Safari, Opera */
	-moz-column-rule: 1px solid lightblue; /* Firefox */
	column-rule: 1px solid #00020a;
	-webkit-column-width: 100px; /* Chrome, Safari, Opera */
	-moz-column-width: 100px; /* Firefox */
	column-width: 100px;
	/* height: 217px; */
	z-index: 1;
}

.columns .column3 .icons a.fa{
	display: inline;
	color: #af8a77;
	width: 34px;
	padding: 16px;
	font-size: 31px;
	text-align: center;
	text-decoration: none;
}

.columns {
	font-family: "proxima-nova";
	font-size: 20px;
}

.columns .column3 .icons ul li{
	display:inline;
}

.columns .column3 p{
	/* padding: 0px; */
}

.columns .column3 .icons {display: inline-block;}

.columns .column1 .column1-text{
}

.columns .column1 .column1-text p{
	z-index: 1;
	text-align: left;
	margin-left: 20px;
}	


.columns .column1 img{
	display: block;
	text-align: left;
}

.footer-column .column1{/* border: 1px solid #C4C4C4; */height: 200px;margin-top: 20px;}

.footer-column .column2{/* border: 1px solid #C4C4C4; *//* width: 70px; */height: 200px;/* display: inline; */padding: 20px;}

.footer-column .column3{/* border: 1px solid #C4C4C4; *//* float: right; *//* width: 70px; */padding: 20px;height: 200px;/* display: inline; */}


.footer .footer-copyrights{background-color: black;height: 50px;width: 1419px;margin-top: -60px;}


.copyright-row .copyright-text{color: white;float: left;margin: 13px;}
