.wmodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

.donate{
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px 16px;
    border: 2px solid rgba(204, 204, 204, 0.92);
    background-color: white;
    color: #f7b733;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    margin-top: 12px;
    margin-right: 8px;
    float:left;
    cursor: pointer;
}

.donate2{
    float: none;
    background-color: #f7b733;
    color: white;
}

.donate:active {
    background-color: rgba(260, 166, 0, 0.65);
    box-shadow: 0 3px rgba(102, 102, 102, 0.44);
    transform: translateY(4px);
}

.img-container{
    display: inline-table;
    position: relative;
    height: 22%;
    margin: auto;
}

.greet-text p{
    font-size: 30px;
    color: #a49981;
    /* text-align: left; */
    padding: 10px;
}

.greet-text span{
    color: rgb(252, 176, 0);
    font-size: 26px;
}

img.logo {
    width: 62%;
    margin-left: 18%;
}


/* The Close Button (x) */
.close {
    position: relative;
    top: 5px;
    right: 7px;
    color: rgb(206, 206, 206);
    font-size: 15px;
    float: right;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

.animate{
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

.greeting {
    width: 35%;
    background-color: #fefefe;
    margin: auto;
    height: 65%;
}

.greeting h1{
    color: #fdab00;
}

.greet-text{
    border=2px solid;
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

